@font-face {
  font-family: 'Lufga';
  src: url('/fonts/Lufga-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/Lufga-Medium.otf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Lufga';
  src: url('/fonts/Lufga-SemiBold.otf');
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

.border-bottom {
  border-bottom-right-radius: 50px;
}
